<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="card">
    <h1>#100Devs Accountability Leaderboard</h1>
    <p>Log in now to track your daily stats to be featured on the leaderboard!</p>
    <button>
      <a href="/login"> Login</a>
    </button>
    <button>  
      <a href="/signup"> Signup</a>
    </button>
    <!-- <button>  
      <a href="/user"> test button</a>
    </button> -->
  </div>

  <section>
    <h2>Leaderboard</h2>
    <table>
      <tr>
        <th>100Devs Member</th>
        <th>Hours Logged</th>
        <th>Minutes</th>
      </tr>
    
    </table>
  </section>
</body>
</html>