<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Stats</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Hello <%= user.userName[0].toUpperCase() + user.userName.substr(1) %>! You've studied <%= user.time %> minutes so far.</h1>

    <div class="stopwatch-container">
        <h2 class="header">Stopwatch</h2>

        <div class="counter">
            <span class="min">00</span>
            <span class="sec">00</span>
            <span class="hund">00</span>
        </div>

        <div class="remote">
            <button class="start" onclick="start()">Start</button>
            <button class="stop" onclick="stop()">Stop</button>
            <button  class="reset" onclick="reset()">Reset</button>
          </div>
          <span id="duration"></span>
    </div>
    
    <a href="/logout">Logout</a>

    <script src="js/main.js";></script>
</body>
</html>