
:root {
    --base-green: #d3eedd;
    --dark-green: #3a4b40;
  }
  
  body {
    background-color: var(--base-green);
    display:flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  h1{
      font-size: 3rem;
      color: var(--dark-green);
  }
  .completed{
      text-decoration: line-through;
      color: gray;
  }
  .not{
      text-decoration: underline;
  }
  
  .card {
    height: 300px;
    width: 100%;
    text-align:center;
  }
  
  button {
    background-color: lightskyblue;
    border: none;
    width: 60px;
    height: 1.5rem;
    border-radius: 10px;
    
  }
  
  button a {
    color:black;
    text-decoration:none;
  }
  
  section {
    text-align:center;
  }
  
  /*###################
  Table 
  ###################*/
   table, th, tr{
    border: 2px solid lightskyblue;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  th, td {
    padding: 5px;
  }

  .rank{
    width: 70px;
  }

  .member{
    text-align: left;
    padding-left: 10px;
  }

